.main-footer {
  z-index: 999;
  height: 4.5em;
  background: rgb(var(--color-background-darker));
  border-top: 1px solid rgb(var(--color-background));
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5em 0.8em 2em;
}

.main-footer .transaction-new-button {
  position: fixed;
  bottom: 0.4em;
  left: calc(50% - calc(var(--new-transaction-size) / 2));
  font-size: 4em;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--color-today));
  cursor: pointer;
  width: var(--new-transaction-size);
  height: var(--new-transaction-size);
  line-height: var(--new-transaction-size);
  text-align: center;
  border-radius: 50%;
  color: rgb(var(--color-background));

  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
}

.main-footer .trip-share {
  font-size: 1.2em;
  padding: 0;
}
