.transaction-form-category input {
  display: none;
}

.transaction-form-field:has(:checked) label {
  background-color: rgb(var(--color-background-darker));
}

.transaction-list {
  list-style: none;
  padding: 0 0.5em;
  margin-bottom: 5em;
}

.transaction-group h3 {
  position: sticky;
  top: 4.5em;
  background: rgb(var(--color-background));

  display: flex;
  justify-content: space-between;
  margin: 0.2em 0;
  font-size: 0.8em;
  color: rgb(var(--color-darkest));
  padding: 0.8em 0.5em;
}

.group-total {
  color: rgb(var(--color-darkest));
}

.group-total.overspent {
  color: rgb(var(--color-days));
}

.transaction-group ul {
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.transaction-item {
  padding: 0.8em 0 0.8em 0.5em;
  margin: 0;
  background-color: rgb(var(--color-background-darker));
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(var(--color-background));
  border-radius: 3px 3px 3px 3px
}

.transaction-item-data {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.2fr;
  align-items: center;
  gap: 0.5em;
}

.transaction-item-category {
  font-size: 1.8em;
}

.transaction-item-description,
.transaction-item-value {
  color: rgb(var(--color-darkest));
}

.transaction-item-value {
  font-weight: 500;
}

.transaction-item-time {
  font-size: 0.6em;
  font-weight: 900;
  color: rgba(var(--color-darkest), 0.7);
}

.transaction-item-value {
  justify-self: end;
}

.transaction-item-delete {
  margin: 0;
}

.transaction-item-menu-trigger {
  padding: 0 0.2em;
  font: 2em bolder sans-serif;
}
